.projects{
    margin: 80px 170px;
    padding: 50px;
    background: #161513;
    position: relative;
    border-radius: 15px;
    gap: 50px;
}

.projects::after{
    content: '';
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1px;
    z-index: -1;
    border-radius: 15px;
    filter: blur(0.7rem);
    


}


.proj-title h1{
    text-align: center;
    font-size: 90px;
}

@media screen and (max-width: 768px) {
    .projects{
        margin: 20px;
        padding: 20px;
    }

    .proj-title h1{
        font-size: 50px;
    }
}