*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;   
    inherits: false;
}

.nav-logo::after ,.nav-logo::before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    padding: 5px;
    left: 15px;
    top: 15px;
    z-index: -1;
    background-image: conic-gradient(from var(--angle)  ,#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    animation: 3s spin linear infinite;
}


.nav-logo::before{
    filter: blur(1.5rem);

}

@keyframes spin{
    0%{
        --angle: 0deg;
    }
    100%{
        --angle: 360deg;
    }
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav-links,li{
    display: inline;
    list-style-type: none;
    justify-content: center;

}
.nav-link{
    padding: 5px 5px;
    border-radius: 20px;
    margin: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link:hover{
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102.06%);
    color:black;
    transition: 0.5s;

}

.nav-Github{
    background-color: #2A2F40;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap:5px;
    position: relative;
    transition: 0.5s;
}

.nav-Github::after,.nav-Github::before{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 1pxpx;
    z-index: -1 ;
    background-image: conic-gradient(from var(--angle)  ,white, #161513,white);
    animation: 3s spin linear infinite;
    transition: 0.5s;
    
}

.nav-Github::before{
    filter: blur(1.5rem);
    
}
.nav-Github:hover{
    transform: scale(1.05);
}

@keyframes spin{
    0%{
        --angle:0deg;
    }
    100%{
        --angle: 360deg;
    }
}

.github-link{
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}