*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo{
    filter: brightness(100);
    
}


@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;   
    inherits: false;
}

/*.nav-logo::after ,.nav-logo::before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    padding: 5px;
    left: 15px;
    top: 15px;
    z-index: -1;
    background-image: conic-gradient(from var(--angle)  ,#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    animation: 3s spin linear infinite;
}
    */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.nav-links,li{
    display: inline;
    list-style-type: none;
    justify-content: center;

}

.nav-link{
    padding: 15px 20px;
    border-radius: 50px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.nav-link:hover{
    background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102.06%);
    color:black;
    transition: 0.5s;

}

.nav-github{
    background-color: #2A2F40;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    gap:5px;
    position: relative;
    transition: 0.5s;
}

.nav-github::after,.nav-github::before{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 0;
    z-index: -1 ;
    background-image: conic-gradient(from var(--angle)  ,#161513,white, #161513,white,#161513);
    animation: 3s spin linear infinite;
    
}

.nav-github::before{
    filter: blur(0.7rem);
}




@keyframes spin{
    0%{
        --angle:0deg;
    }
    100%{
        --angle: 360deg;
    }
}

.github-link{
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}